# Logs
logs
*.log
npm-debug.log*

# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# webpack
.webpack

# build files
dist

# macos files
*.DS_Store

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# WebStorm
.idea
